@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/base/typography";

.repository {
  $border: solid 3px $primary-color-light;
  border-top: $border;
  border-width: 3px;
  padding: 1.5rem;
  @include laptop {
    padding: 2.5rem;
  }
  &:nth-child(odd) {
    border-right: $border;
    padding-left: 0;
  }
  &:nth-child(even) {
    border-left: $border;
    padding-right: 0;
  }
  &:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-top: unset;
  }
  &:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: unset;
  }
  &__content {
    @extend %round;
    background: transparentize($primary-color-light, 0.6);
    padding: 1.5rem;
    @include laptop {
      padding: 2rem;
    }
  }
  &__name,
  &__description {
    margin-bottom: 1rem;
  }
  &__name {
    @extend %hover;
    color: $primary-color;
    font-weight: $semi-bold;
  }
  &__description {
    opacity: 0.75;
    font-size: 0.95rem;
  }
  &__date {
    font-weight: $medium;
    display: block;
    opacity: 0.75;
  }
}
