@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/base/typography";

.repository {
  @extend %round;
  background: transparentize($primary-color-light, 0.6);
  margin-left: 3rem;
  padding: 2rem;
  position: relative;
  &:before {
    @extend %pseudo;
    @extend %h5;
    content: attr(data-date);
    position: absolute;
    left: -22.5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0.5;
    font-weight: $semi-bold;
    display: none;
    @include laptop {
      display: block;
    }
  }
  &:after {
    @extend %pseudo;
    @extend %h5;
    position: absolute;
    left: calc(-3rem - (5px / 2));
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
    width: 27.5px;
    height: 27.5px;
    border-radius: 100%;
    padding: unset;
    border: solid 7.5px $white;
    background: $primary-color;
    border-radius: 100%;
  }
  &__name,
  &__description {
    margin-bottom: 1rem;
  }
  &__name {
    @extend %hover;
    color: $primary-color;
    font-weight: $semi-bold;
  }
  &__description {
    opacity: 0.75;
    font-size: 0.95rem;
  }
  &__date {
    font-weight: $medium;
    display: block;
    opacity: 0.75;
  }
}
